<mat-toolbar color="primary">
    Login
    <span class="flex-spacer"></span>
    <button mat-button mat-dialog-close>&times;</button>
</mat-toolbar>

<p>{{ user | json}}</p>

<form noValidate #loginForm="ngForm" (ngSubmit)="onSubmit()">
    <mat-dialog-content>
        <p>
            <mat-form-field>
                <input matInput placeHoler="Username" type="text" [(ngModel)]="user.username" name="username" #username="ngModel" required>
                <mat-error *ngIf="username.errors?.['required']">Username is required</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeHoler="Password" type="password" [(ngModel)]="user.password" name="password" #password="ngModel" required>
                <mat-error *ngIf="password.errors?.['required']">Password is required</mat-error>
            </mat-form-field>
            <mat-checkbox [(ngModel)]="user.remember" name="remember">Remember me</mat-checkbox>
            <mat-dialog-actions>
                <span class="flex-spacer"></span>
                <button mat-button mat-dialog-close>Cancel</button>
                <button mat-button type="submit" class="background-primary text-floral-white" [disabled]="loginForm.form.invalid">Submit</button>
            </mat-dialog-actions>
        </p>
    </mat-dialog-content>

</form>